
.card {
    background-color: #f8f8f8;
    border-radius: 5px;
    box-shadow: 0 32px 32px rgba(0, 0, 0, 1);
    border: none;
    margin-bottom: 5rem;
    margin-top: 5rem;
}

@media (min-width: 768px) 
{
    .card {
        margin: 0.5rem;
    }
}