
.card {
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    margin-bottom: 3rem;
    margin-top: 3rem;
}

@media (min-width: 768px) 
{
    .card {
        margin: 0.5rem;
    }
}